body{
    background-color:black ;
    background-image:url("images/8.jpg");
    background-size: fit;
    background-repeat:no-repeat;
    color: white;
    background-attachment: fixed;
}
#name3{
position: absolute;
width: 500px;
left: 0px;
top: 0px;
font-family: 'Goldman', cursive;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 108.4%;
display: flex;
align-items: center;
text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
#name1{
position: absolute;
width: 450px;
height: 190px;
left: 0px;
top: 63px;
font-family: 'Turret Road', cursive;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 108.4%;
display: flex;
align-items: center;
text-shadow: 2px 2px 5px red;
}
#name2{
position: absolute;
width: 243px;
height: 19px;
left: 110px;
top: 219px;
font-family: Fredoka One;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.12em;
text-transform: uppercase;
color: rgba(5, 255, 117, 0.37);
text-shadow: 2px 2px 5px rgba(3, 247, 214, 0.856);
}
footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(5, 197, 204, 0.445);
   color: rgb(255, 255, 255);
   text-align: center;
}
.menu{
position: absolute;
width: fit-content;
height: 25px;
left: 50px;
top: 450px;
font-family: Fredoka One;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 25px;
display: flex;
align-items: center;
letter-spacing: 0.20em;
text-transform: uppercase;
float: left;
}
.nav{
  position: fixed;
}
.space1{
    margin-top: 1cm;
}
.space2{
  margin-top: 1cm;
  color: rgb(114, 253, 0);
}
.space3{
  color: rgb(67, 134, 4);
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  /* a:visited {
    color: rgb(43, 255, 0);
    background-color: transparent;
    text-decoration: none;
  } */
  a:hover {
    color: rgb(255, 251, 5);
    background-color: transparent;
    text-decoration: underline;
  }
 
  #image1{
    position: absolute;
    border-radius: 50%;
    left: 450px;
    top: 100px;
    position: fixed;
  }
  #image1:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
 #box1{
     float: right;
     margin-top: 2cm;
     margin-left:1cm;
     width: 800px;
     margin-right: 2cm;
     height: 1400px;
     color: black;
 }
 #box2{
  position: static;
  float: right;
  margin-top: 1cm;
  margin-right: 2.5cm;
  width: 700px;
  height: fit-content;
  /* background-color: white; */
  color: black;
 }
 #box4{
  position: static;
  float: right;
  margin-top: 1cm;
  margin-right: 2.5cm;
  width: 700px;
  height: 1000px;
  /* background-color: white; */
  color: black;
 }
 #box3{
   margin-top: 5px;
   margin-left: 100px;
    position: absolute ;
   float: left;
   width:500px;
   height:380px;
   background-color: yellow;
 }
 .intro{
   font-size: 20px;
   font-family: 'Goldman';
   color:rgb(0, 255, 255);
   text-shadow: rgb(1, 255, 255);
   text-transform: uppercase;
 }
 .logo1{
  width: 60px;
	height: 60px;

	background: transparent;
	margin-left: 10px;
 }
 .space4{
   text-align: center;
   position: relative;
   margin-left: 4cm;
   margin-top: 1cm;
   width: fit-content;
   height: 30px;
   background-color: wheat;
   font-size: 30px;
 }

.education{ 
   margin-top: 5px;
   width: 100%;
   height: 350px;
   padding-right: 2cm;
   margin-bottom: 2cm;
 }
 .image4{
  left: 380px;
  top: 250px;
  position: fixed;
  border-radius: 8px;
  width:500px;
  height:300px;
 }
 .image4:hover{
  box-shadow:0 0 2px 1px rgb(223, 173, 173);
}
 .image3{
  left: 450px;
  top: 100px;
  position: fixed;
  border-radius: 8px;
  width: 350px;
  height:70%;
 }
 .image3:hover{
   box-shadow:0 0 2px 1px rgb(223, 173, 173);
 }
.image2{
  border-radius: 50%;
 
 }
.image2:hover {
  box-shadow: 0 0 2px 1px rgb(255,255,255);
}
.smkSis{
color: gold;
float: right;

background-color: rgba(50, 22, 204, 0.37);
height:8cm;
width:fit-content;
font-family: 'Lobster';
font-size: 20px;
text-align: center;
}
.smkSi2{
  font-family: 'Source Code Pro';
}
.smkSi3{
  color:rgb(180, 179, 255);
  margin-top: 5px;
  float: center;
  /* background-color: rgba(255, 0, 128, 0.329); */
  height:8cm;
  width:780px;
  font-family: 'Syne Mono';
  font-size: 30px;
  text-align: center;
  }
  #space{
    margin-top:2px;
  }

h1.box3{text-align:center}
h2.box3{margin-bottom:0;}

.skill{
  width:320px;
  margin:0 auto;
}
.rating-bar{
  background:black;
  padding:3px;
}
.rating-bar span{
  display:block;
  height:15px;
}
.rating-bar, .rating-bar span {
  border-radius:4px; 
}

/* Used to color the bars */
.blue{ background:blue; }
.red{ background:rgb(50, 250, 43); }
.orange{background: orangered;}

/* .rate-n, n being the rating from 1 to 10 */
.rate-1{ width:10%; }
.rate-2{ width:20%; }
.rate-3{ width:30%; }
.rate-4{ width:40%; }
.rate-5{ width:50%; }
.rate-6{ width:60%; }
.rate-7{ width:70%; }
.rate-8{ width:80%; }
.rate-9{ width:90%; }
.rate-10{ width:100%; }

.animate{
  animation: progress 2s linear;
  -moz-animation: progress 2s linear;
  -webkit-animation: progress 2s linear;
  -ms-animation: progress 2s linear;
  -o-animation: progress 2s linear;
}
@-webkit-keyframes progress {
  from { width:0% }
  to { width:100%; }
}
@-moz-keyframes progress {
  from { width:0% }
  to { width:100%; }
}
@-ms-keyframes progress {
  from { width:0% }
  to { width:100%; }
}
@-o-keyframes progress {
  from { width:0% }
  to { width:100%; }
}
@keyframes progress {
  from { width:0% }
  to { width:100%; }
}
.rato{
  color: darksalmon;
  font-weight: bold;
}
.education1{ 
  margin-top: 5px;
  width: 90%;
  height: 350px;
  padding-right: 2cm;
  margin-bottom: 1cm;
}
#box5{
  margin-top: 0cm;
  float: right;
  margin-left:2cm;
  font-size: 20px;
  width: 780px;
  height: fit-content;
  color: rgb(0, 255, 76);
  font-family: 'Source Code Pro';
  margin-bottom: 1cm;
}
#education2{
  margin-top: 1cm;
  width: 90%;
  height: 350px;
  padding-right: 2cm;
  margin-bottom: 1cm;
}
#box6{
  margin-top: 0cm;
  margin-right: 4cm;
  float: right;
  font-size: 20px;
  width: 300px;
  height: fit-content;
  color: rgb(0, 255, 76);
  font-family: 'Source Code Pro';
  margin-bottom: 1cm;
}
#box7{
  margin-top:-4.2cm;
  margin-right: 2cm;
  float: right;
  font-size: 20px;
  width: 400px;
  height: 60px;
  color: rgb(0, 255, 76);
  font-family: 'Source Code Pro';
  margin-bottom: 1cm;
}
#ulul{
  margin-top: 1cm;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


 button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  margin-top: 3cbb;
  display: flex;
  min-height: 600px;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  margin-top: 5px;
  
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}
* {
  box-sizing: border-box;
}
.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 20px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
